.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: aliceblue;
}

a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

button{
    background-color: yellowgreen;
    border: none;
    padding: 10px;
}